body {
    margin: 0;
}

button {
    overflow: visible;
    display: block;
    width: 250px;
    position: relative;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    background: #f7f7f7;
    padding: 15px 50px;
    margin: 25px 22px 0 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #72c3dc;
    color: #fff;
    border: 1px solid #2b8ead;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 0px 5px 0px #2b8ead;
    -moz-box-shadow: 0px 5px 0px #2b8ead;
    -ms-box-shadow: 0px 5px 0px #2b8ead;
    -o-box-shadow: 0px 5px 0px #2b8ead;
    box-shadow: 0px 5px 0px #2b8ead;
    text-shadow: 1px 1px 1px #2b8ead;
}

button:hover {
    opacity: .5;
}

footer {
    background: #efefef;
    text-align: center;
    padding: 0.5em;
}

h1 {
    border-bottom: 0.4em solid #BFBFBF;
    padding: 1em;
    text-align: center;
    font-weight: 100;
    color: #333;
    margin: 0;
}

main {
    background: #efefef;
    display: flex;
}

ul {
    margin: 0px 3px;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    padding: 0;
}

ul li {
    list-style: none;
    padding: 0.4em 0.9em;
    margin: 0px -3px;
    font-size: 6em;
    display: inline-block;
    color: #fff;
    font-weight: 100;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    font-family: sans-serif;
}

@media screen and (min-width: 1000px) {
    [data-item='1'], [data-item='8'] {
        background: #6F98A8;
    }

    [data-item='2'], [data-item='4'] {
        background: #2B8EAD;
    }

    [data-item='3'], [data-item='5'], [data-item='9'] {
        background: #2f454e;
    }

    [data-item='6'], [data-item='7'] {
        background: #BFBFBF;
    }
}

@media screen and (min-width: 360px) and (max-width: 1000px) {

    .btn-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    button {
        margin: 22px 10px !important;
    }

    [data-item='1'], [data-item='8'] {
        border-left: 0.3em solid #6F98A8;
    }

    [data-item='1'] {
        margin-top: 8px;
    }
    
    [data-item='2'], [data-item='4'] {
        border-left: 0.3em solid #2B8EAD;
    }
    
    [data-item='3'], [data-item='5'], [data-item='9'] {
        border-left: 0.3em solid #2f454e;
    }
    
    [data-item='6'], [data-item='7'] {
        border-left: 0.3em solid #BFBFBF;
    }

    h1 {
        background: #333;
        color: #fff;
        margin: 0;
        padding: 0.5em;
        border: none;
    }

    footer {
        background: transparent;
    }

    main {
        flex-direction: column-reverse;
        align-items: center;
        background: transparent;
    }

    ul {
        margin: 0;
        padding: 0;
        display: block;
    }

    ul li {
        background: #efefef;
        list-style: none;
        padding: 0.3em;
        display: block;
        margin: 0;
        color: #333;
        font-size: 2.5em;
        text-align: center;
        margin-bottom: 8px;
    }
}